h1 {
  color: #a4c884;
}
h3 {
  color: #477835;
}
p {
  color: #477835;
  font-weight: 900;
}
.logo {
  height: 100px;
  width: 200px;
}
.stChatMessage st-emotion-cache-1c7y2kd eeusbqq4 {
  background-color: #a4c884;
}

.stChatMessage st-emotion-cache-1c7y2kd eeusbqq4 {
  background-color: #477835;
}
img {
  position: sticky;
  top: 0;
}

.stImage st-emotion-cache-kn8v7q e115fcil2 {
  position: sticky;
  top: 0;
}

textarea {
  border: 15px solid #477835;
  color: #477835;
}

.st-ae
  st-b1
  st-bf
  st-bg
  st-bh
  st-bi
  st-bj
  st-bk
  st-bl
  st-bm
  st-b5
  st-b6
  st-bn
  st-bo
  st-bp
  st-bq
  st-br
  st-bs
  st-bt
  st-bu
  st-b8
  st-b9
  st-ba
  st-bv
  st-bc
  st-bd
  st-be
  st-bw
  st-bx
  st-by
  st-bz
  st-c2 {
  background-color: #a4c884;
}
